<div class="banner" style="background-image: linear-gradient(to right bottom, rgb(44,73,85, 0.8), rgb(42,54,59, 0.8)), url(<%= asset_path 'bloom.jpg'%>);">
    <div class="banner-info">
      <h1>Amazing gardens</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <a href="#" id="banner-btn">see our gardens</a>
    </div>
  </div>

  <section class="how-it-works">
    <h2>More gardens</h2>
    <div class="cards">
      <div class="card-details">
        <h3>Info</h3>
        <p>Lorem ipsum dolor sit.</p>
      </div>
      <div class="card-details">
        <h3>Info</h3>
        <p>Lorem ipsum dolor sit.</p>
      </div>
      <div class="card-details">
        <h3>Info</h3>
        <p>Lorem ipsum dolor sit.</p>
      </div>
    </div>
  </section>

  <footer>
    <p class="footer-infos">Email</p>
    <p class="footer-infos">Phone</p>
    <p class="footer-infos">Website</p>
  </footer>