/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import "card";
@import "banner";

/* Utilities */
body {
  margin: 1.77em;
  font-family: Lato ;
}

a {
  text-decoration: none;
}

/* Custom design below! */
footer {
  display: block;
  height: 5rem;
  padding: 5rem 0;
  font-size: 1rem;
  background-color: #f7f7f7;
  text-align: center;
  border-radius: 1em;
  margin-top: 2rem;
}

